<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
<div class="display">
<div class="center">
    <div class="logo"><a href="{% url 'checkout_app:homepage' %}"><img src="{%static 'Checkout2.png' %}" alt="Checkout Logo"></a></div>
    <form action="" method="post" class="login_form">
        <label for="email_number" class="label ">Mobile/E-mail address</label><br>
        <input class="input" type="email number" id="email_number" placeholder="Mobile/E-mail" required><br>
        <label for="password" class="label">Password</label><br>
        <input class="input" type="password" id="password" placeholder="Password" required><br>
        <button type="submit" value="login" class="input login">Login</button><br>
        <div class="remember_me">
            <div>
            <input type="checkbox">
            <span class="remeber_text">Remember me</span></div>
            <a href="#">Forgot password?</a>
        </div>
    </form>
    <button type="button" class="social facebook">Continue with Facebook</button><br>
    <button type="button" class="social google">Continue with Google</button><br>
    <div class="sign_up">
    Don't have an account?
    <a href="{% url 'checkout_app:signup' %}"><b>Click here to Sign Up</b></a>
    </div>
</div>
</div>
</body>
</html>
